/*=============================================
=            Mixins                           =
=============================================*/

/**
 *
 * Helpful reusable function-like things that will be used to implement
 * styles for components.
 *
 */

@mixin mobile {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin padding($space) {
  padding: map-get($spacing, $space);
}
@mixin margin($space) {
  margin: map-get($spacing, $space);
}

@mixin btn($bg-color, $color) {
  display: inline-block;
  color: $color;
  border-radius: 30px;
  border: $bg-color;
  padding: 0.4rem 1.3rem;
  background: $bg-color;
  margin-right: 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: darken($bg-color, 50%);
  }

  span {
    padding-left: 0.5rem;
  }
}

@mixin btn-sm($bg-color, $color) {
  display: inline-block;
  color: $color;
  border-radius: 30px;
  border: $bg-color;
  padding: 0.4rem 0;
  background: $bg-color;
  margin-right: 0rem;
  margin-bottom: 1rem;
  width: 8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: darken($bg-color, 50%);
  }

  span {
    padding: 0 0.2rem;
  }
}
